<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <p>Hey there, </p>
    <p>Someone (hopefully you) has requested a password reset for your app account.</p>
    <p>Use the link below to set a new password</p>
    <p>{{token}}</p>
    <p>If you did not request anything please ignore this email and no actions will be taken.</p>
    <p>Kind regards,</p>
    <p>app team.</p>
</body>

</html>