<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <p>Hey there,</p>
    <p>Your new app password has been set.</p>
    <p>If the changes described above are accurate, no further action is needed.</p>
    <p>If anything doesn't look right, please consider changing your password now.</p>
    <p>Kind regards,</p>
    <p>app team.</p>
</body>

</html>