<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <p>Hey there,</p>
    <p>Someone (hopefully you) signed up at app with this email adress.</p>
    <p>If the changes described above are accurate, please use the token below in order to verify your email adress.
    </p>
    <p>{{token}}</p>
    <p>If this wasn't you, please ignore this email and no further actions will be taken.</p>
    <p>Kind regards,</p>
    <p>app team.</p>
</body>